.content-block-1 {
  background: no-repeat center center;
  background-size: cover;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.content-block-1--fullwidth {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.content-block-1__row--vertical-padding-standard,
.content-block-1--vertical-padding-standard {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-block-1__row--vertical-padding-medium,
.content-block-1--vertical-padding-medium {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-block-1__row--vertical-padding-small,
.content-block-1--vertical-padding-small {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-block-1__row--vertical-padding-none,
.content-block-1--vertical-padding-none {
  padding-top: 0;
  padding-bottom: 0;
}
