.content-block-1 {
  background: no-repeat center center;
  background-size: cover;
}

.content-block-1--padding-standard {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-block-1--padding-medium {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-block-1--padding-small {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-block-1--padding-none {
  padding-top: 0;
  padding-bottom: 0;
}

.content-block-1__row {

}
